---
import '../styles/custom_callouts.css';
const { type = 'note', title, children } = Astro.props;
---
<aside class={`admonition ${type}`}>
  {title && <header>{title}</header>}
  <div class="content">
    {children}
  </div>
</aside>
